{% extends 'layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block content %}

<main>
    <div class="header__main">
        <h1 class="header_title">Chaque trajet compte pour la planète</h1>
        <p class="heder_slogan">EcoRide facilite vos déplacements tout en réduisant votre empreinte carbone</p>
        <div class="search_bar-int ser">
            <input class="input-with-icon" type="text" name="depart" placeholder="Départ">
            <input class="input-with-icon" type="text" name="destination" placeholder="Destination">
            <input class="input-with-icon" type="date" name="date">
            <input class="input-with-icon" type="text" name="passagers" placeholder="Passagers">
            <button id="searchBtn" class="search" type="submit" value="rechercher">Rechercher</button>
        </div>
    </div>

    <div class="desc">
        <h2>Voyagez autrement, voyagez vert</h2>
        <p>EcoRide est une jeune startup française née d’une conviction simple : il est possible de voyager autrement, en réduisant l’impact écologique de nos déplacements quotidiens. Notre mission est de promouvoir le covoiturage comme une alternative durable, accessible et avantageuse pour tous.</p>
    </div>

    <div class="benefits">
        <h2 class="benefit-title">Nos avantages</h2>
        <div class="benf1">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35">
                <g clip-path="url(#clip0_17_6)">
                <path d="M12 24.9825C20.2907 24.9825 26 20.5985 26.6667 8.98246V6.3158H21.3147C9.3147 6.3158 5.33336 11.6491 5.3147 18.3158C5.3147 19.6491 5.3147 22.3158 7.98136 24.9825H11.9814H12Z" fill="white" stroke="#3EAE1C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>

                <path d="M6.66675 28.9824C7.33341 22.9824 10.0001 18.3157 16.0001 15.649" stroke="#3EAE1C" fill="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                </g>
                <defs>
                <clipPath id="clip0_17_6">
                <rect width="32" height="32" fill="white" transform="translate(0 0.982422)"/>
                </clipPath>
                </defs>
            </svg>
            <h3>Écoresponsable</h3>
            <p>Une démarche écoresponsable qui participe activement à la protection de l’environnement.</p>
        </div>
        <div class="benf2">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35">
                    <g clip-path="url(#clip0_17_23)">
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M27.898 16.6493C27.8709 16.649 27.8355 16.649 27.7777 16.649H24.3077C22.4099 16.649 21 18.0606 21 19.649C21 21.2374 22.4099 22.649 24.3077 22.649H27.7777C27.8355 22.649 27.8709 22.649 27.898 22.6488C27.9236 22.6485 27.9307 22.648 27.9307 22.648C28.2053 22.6313 28.3236 22.4458 28.3327 22.3342C28.3327 22.3342 28.3329 22.326 28.3331 22.3138C28.3333 22.2901 28.3333 22.2586 28.3333 22.2046V17.0934C28.3333 17.0636 28.3333 17.0406 28.3333 17.022C28.3332 17.007 28.3332 16.9948 28.3331 16.9842C28.3329 16.9722 28.3327 16.9638 28.3327 16.9638C28.3236 16.8522 28.2053 16.6668 27.9305 16.6501C27.9305 16.6501 27.924 16.6496 27.898 16.6493ZM27.7999 14.649C27.8884 14.649 27.9737 14.6489 28.0521 14.6537C29.2139 14.7245 30.2413 15.6008 30.3277 16.8248C30.3335 16.905 30.3333 16.9916 30.3333 17.0717C30.3333 17.079 30.3333 17.0862 30.3333 17.0934V22.2046C30.3333 22.2118 30.3333 22.219 30.3333 22.2264C30.3333 22.3065 30.3335 22.393 30.3277 22.4733C30.2413 23.6973 29.2139 24.5736 28.0521 24.6444C27.9737 24.6492 27.8884 24.649 27.7999 24.649C27.7925 24.649 27.7852 24.649 27.7777 24.649H24.3077C21.4475 24.649 19 22.4789 19 19.649C19 16.8192 21.4475 14.649 24.3077 14.649H27.7777C27.7852 14.649 27.7925 14.649 27.7999 14.649Z" fill="#3EAE1C"/>
                    <path d="M25.3334 19.6491C25.3334 20.3855 24.7365 20.9825 24.0001 20.9825C23.2637 20.9825 22.6667 20.3855 22.6667 19.6491C22.6667 18.9127 23.2637 18.3158 24.0001 18.3158C24.7365 18.3158 25.3334 18.9127 25.3334 19.6491Z" fill="#3EAE1C"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M27.7999 14.6491C27.8885 14.6491 27.9738 14.649 28.0522 14.6538C28.3527 14.672 28.6443 14.7443 28.913 14.8626C28.7703 12.7206 28.3776 11.0699 27.1451 9.83741C26.1473 8.8396 24.8819 8.39677 23.3187 8.1866L23.2623 8.17914C23.2483 8.16878 23.2341 8.15873 23.2194 8.14898L18.2387 4.8465C16.5011 3.6944 14.1657 3.6944 12.4281 4.8465L7.44747 8.14898C7.43279 8.15873 7.41844 8.16878 7.40444 8.17914L7.34806 8.1866C5.78483 8.39677 4.51956 8.8396 3.52174 9.83741C2.52392 10.8352 2.0811 12.1005 1.87094 13.6637C1.66671 15.1827 1.66672 17.1235 1.66675 19.5739V19.7243C1.66672 22.1747 1.66671 24.1155 1.87094 25.6344C2.0811 27.1976 2.52392 28.463 3.52174 29.4608C4.51956 30.4586 5.78483 30.9014 7.34806 31.1116C8.867 31.3158 10.8079 31.3158 13.2582 31.3158H17.4086C19.859 31.3158 21.7998 31.3158 23.3187 31.1116C24.8819 30.9014 26.1473 30.4586 27.1451 29.4608C28.3776 28.2283 28.7703 26.5776 28.913 24.4356C28.6443 24.5539 28.3527 24.6262 28.0522 24.6444C27.9738 24.6492 27.8885 24.6491 27.7999 24.6491H27.7778H26.8906C26.7389 26.4378 26.3955 27.3819 25.7309 28.0466C25.1666 28.6108 24.3937 28.9491 23.0523 29.1294C21.6821 29.3136 19.8758 29.3158 17.3334 29.3158H13.3334C10.791 29.3158 8.98476 29.3136 7.61455 29.1294C6.2731 28.9491 5.50023 28.6108 4.93595 28.0466C4.37167 27.4823 4.03344 26.7094 3.8531 25.368C3.66887 23.9978 3.66675 22.1915 3.66675 19.6491C3.66675 17.1067 3.66887 15.3004 3.8531 13.9302C4.03344 12.5888 4.37167 11.8159 4.93595 11.2516C5.50023 10.6873 6.2731 10.3491 7.61455 10.1688C8.98476 9.98454 10.791 9.98242 13.3334 9.98242H17.3334C19.8758 9.98242 21.6821 9.98454 23.0523 10.1688C24.3937 10.3491 25.1666 10.6873 25.7309 11.2516C26.3955 11.9163 26.7389 12.8605 26.8906 14.6491H27.7778H27.7999ZM13.2582 7.98242H17.4086C18.0973 7.98241 18.7457 7.98241 19.3558 7.98694L17.1335 6.51337C16.0658 5.80544 14.601 5.80544 13.5334 6.51337L11.311 7.98694C11.9211 7.98241 12.5695 7.98241 13.2582 7.98242Z" fill="#3EAE1C"/>
                    <path d="M8 13.3158C7.44772 13.3158 7 13.7635 7 14.3158C7 14.8681 7.44772 15.3158 8 15.3158H13.3333C13.8856 15.3158 14.3333 14.8681 14.3333 14.3158C14.3333 13.7635 13.8856 13.3158 13.3333 13.3158H8Z" fill="#3EAE1C"/>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.3334 19.6491C25.3334 20.3855 24.7365 20.9825 24.0001 20.9825C23.2637 20.9825 22.6667 20.3855 22.6667 19.6491C22.6667 18.9127 23.2637 18.3158 24.0001 18.3158C24.7365 18.3158 25.3334 18.9127 25.3334 19.6491Z" fill="#3EAE1C"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_17_23">
                    <rect width="32" height="32" fill="white" transform="translate(0 0.982422)"/>
                    </clipPath>
                    </defs>
                </svg>
            <h3>Économique</h3>
            <p>Un moyen économique de réduire vos dépenses de transport.</p>
        </div>
        <div class="benf3">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35">
                <path d="M31.7903 13.471L28.5999 7.08783C28.4823 6.85289 28.3197 6.6434 28.1212 6.47133C27.9227 6.29925 27.6922 6.16797 27.443 6.08497C27.1937 6.00196 26.9306 5.96887 26.6686 5.98758C26.4065 6.00628 26.1507 6.07642 25.9158 6.19399L22.8067 7.74789L16.2572 6.01522C16.0891 5.97149 15.9126 5.97149 15.7446 6.01522L9.19506 7.74789L6.08594 6.19399C5.85102 6.07642 5.59523 6.00628 5.3332 5.98758C5.07116 5.96887 4.80801 6.00196 4.55876 6.08497C4.30952 6.16797 4.07907 6.29925 3.88057 6.47133C3.68206 6.6434 3.5194 6.85289 3.40187 7.08783L0.211494 13.4697C0.093925 13.7046 0.0237844 13.9604 0.00507782 14.2224C-0.0136288 14.4845 0.0194649 14.7476 0.102469 14.9969C0.185473 15.2461 0.316762 15.4766 0.488838 15.6751C0.660913 15.8736 0.870405 16.0362 1.10535 16.1537L4.48075 17.8427L11.4178 22.7969C11.52 22.8696 11.6349 22.9226 11.7566 22.9532L19.7576 24.9534C19.9251 24.9954 20.1007 24.9933 20.2672 24.9473C20.4337 24.9013 20.5855 24.8129 20.7077 24.6908L27.5923 17.8052L30.8951 16.1537C31.3693 15.9164 31.7298 15.5004 31.8974 14.9974C32.0651 14.4943 32.0261 13.9453 31.789 13.471H31.7903ZM24.9282 17.6426L20.6264 14.1973C20.4337 14.043 20.1907 13.9654 19.9442 13.9794C19.6977 13.9935 19.4652 14.0983 19.2913 14.2735C17.0648 16.5163 14.5832 16.2325 13.0005 15.2324L18.4062 9.98187H22.3829L25.7845 16.7838L24.9282 17.6426ZM5.19084 7.98167L7.74989 9.2593L4.55326 15.6412L1.99921 14.3648L5.19084 7.98167ZM19.6926 22.8744L12.4279 21.0592L6.27722 16.6663L9.77763 9.66559L16.0009 8.01667L17.226 8.34045L11.6004 13.801L11.5903 13.8123C11.3786 14.024 11.2171 14.2806 11.1177 14.5632C11.0184 14.8457 10.9838 15.1469 11.0164 15.4446C11.049 15.7423 11.1481 16.0289 11.3063 16.2831C11.4645 16.5374 11.6778 16.753 11.9304 16.9138C14.5007 18.5552 17.6023 18.2889 20.0451 16.2887L23.5018 19.0653L19.6926 22.8744ZM27.4435 15.6399L24.2531 9.2643L26.8109 7.98167L30.0025 14.3648L27.4435 15.6399ZM16.4734 27.2248C16.4194 27.441 16.2947 27.6329 16.1192 27.7702C15.9437 27.9074 15.7274 27.9821 15.5046 27.9824C15.4224 27.9823 15.3405 27.9722 15.2608 27.9524L10.0514 26.6498C9.92957 26.6197 9.81459 26.5667 9.71263 26.4935L6.41848 24.1408C6.21594 23.9818 6.08254 23.7507 6.04607 23.4958C6.0096 23.2409 6.07287 22.9817 6.2227 22.7723C6.37253 22.5628 6.59738 22.4193 6.85042 22.3715C7.10347 22.3237 7.3652 22.3753 7.58112 22.5156L10.7202 24.7583L15.7508 26.0135C16.0081 26.0778 16.2293 26.2417 16.3657 26.4691C16.5022 26.6965 16.5427 26.9688 16.4784 27.2261L16.4734 27.2248Z" fill="#3EAE1C"/>
            </svg>
            <h3>Communautaire</h3>
            <p>Une communauté conviviale qui favorise le partage et la solidarité.</p>
        </div>
        <div class="benf4">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35">
                <path d="M30 13.9824H28.65L25.1775 6.16992C25.0204 5.81646 24.7641 5.51615 24.4397 5.30538C24.1153 5.09461 23.7368 4.98243 23.35 4.98242H8.65C8.26317 4.98243 7.88465 5.09461 7.56029 5.30538C7.23593 5.51615 6.97965 5.81646 6.8225 6.16992L3.35 13.9824H2C1.73478 13.9824 1.48043 14.0878 1.29289 14.2753C1.10536 14.4629 1 14.7172 1 14.9824C1 15.2476 1.10536 15.502 1.29289 15.6895C1.48043 15.8771 1.73478 15.9824 2 15.9824H3V25.9824C3 26.5129 3.21071 27.0216 3.58579 27.3966C3.96086 27.7717 4.46957 27.9824 5 27.9824H8C8.53043 27.9824 9.03914 27.7717 9.41421 27.3966C9.78929 27.0216 10 26.5129 10 25.9824V23.9824H22V25.9824C22 26.5129 22.2107 27.0216 22.5858 27.3966C22.9609 27.7717 23.4696 27.9824 24 27.9824H27C27.5304 27.9824 28.0391 27.7717 28.4142 27.3966C28.7893 27.0216 29 26.5129 29 25.9824V15.9824H30C30.2652 15.9824 30.5196 15.8771 30.7071 15.6895C30.8946 15.502 31 15.2476 31 14.9824C31 14.7172 30.8946 14.4629 30.7071 14.2753C30.5196 14.0878 30.2652 13.9824 30 13.9824ZM8.65 6.98242H23.35L26.4613 13.9824H5.53875L8.65 6.98242ZM8 25.9824H5V23.9824H8V25.9824ZM24 25.9824V23.9824H27V25.9824H24ZM27 21.9824H5V15.9824H27V21.9824ZM7 18.9824C7 18.7172 7.10536 18.4629 7.29289 18.2753C7.48043 18.0878 7.73478 17.9824 8 17.9824H10C10.2652 17.9824 10.5196 18.0878 10.7071 18.2753C10.8946 18.4629 11 18.7172 11 18.9824C11 19.2476 10.8946 19.502 10.7071 19.6895C10.5196 19.8771 10.2652 19.9824 10 19.9824H8C7.73478 19.9824 7.48043 19.8771 7.29289 19.6895C7.10536 19.502 7 19.2476 7 18.9824ZM21 18.9824C21 18.7172 21.1054 18.4629 21.2929 18.2753C21.4804 18.0878 21.7348 17.9824 22 17.9824H24C24.2652 17.9824 24.5196 18.0878 24.7071 18.2753C24.8946 18.4629 25 18.7172 25 18.9824C25 19.2476 24.8946 19.502 24.7071 19.6895C24.5196 19.8771 24.2652 19.9824 24 19.9824H22C21.7348 19.9824 21.4804 19.8771 21.2929 19.6895C21.1054 19.502 21 19.2476 21 18.9824Z" fill="#3EAE1C"/>
            </svg>
            <h3>Pratique</h3>
            <p>Une solution pratique pour voyager en toute simplicité, en ville comme sur de plus longues distances.</p>
        </div>
    </div>

    <div class="about1">
        <div class="ab-1-1">
            <h2>Comment ça marche ?</h2>
            <p>Avec notre plateforme intuitive, conducteurs et passagers se connectent en quelques clics. Trouvez ou proposez un trajet en voiture, partagez les frais et réduisez vos émissions de CO₂. EcoRide se concentre uniquement sur les déplacements en voiture pour une expérience simple et fluide.</p>
        </div>
        <div class="float-right">
            <img class="image_about" src="/image_base/man-driving-with-his-girlfriend.png" alt="Le conducteur dans sa voiture">
        </div>
        
    </div>
    
    <div class="about2">
        <div class="float-left">
            <img class="image_about" src="/image_base/pexels-revac-film-s-photography-10400-108444.png" alt="La route">
        </div>
        <div class="ab-2-1">
            <h2>Mobilité plus verte</h2>
            <p>Avec EcoRide, chaque trajet devient une opportunité de préserver la planète tout en rendant vos déplacements plus agréables et abordables. Rejoignez-nous et faites partie du changement vers une mobilité plus verte et responsable.</p>
        </div>
    </div>
</main>

{% endblock %}
